
{% extends 'base.html.twig' %}

{% block title %} This is index page {% endblock %}

{% block body %}
    <p>{{welcome}}</p>
    
    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
{% endblock %}
